@font-face {
  font-family: "DingTalk Sans";
  src: url("/fonts/DingTalk Sans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DingTalk JinBuTi";
  src: url("/fonts/DingTalk JinBuTi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
